@tailwind base;
@tailwind components;
@tailwind utilities;

*::-webkit-scrollbar {
  width: 8px !important;
  height: 8px;
}

*::-webkit-scrollbar-track {
  background: #262626;
  border-radius: 30px;
}

*::-webkit-scrollbar-thumb{
  background: #939393;
  border-radius: 30px;
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html{
  overflow-x: hidden !important;
  background-color: #1E1E1E;
  overflow-x: hidden !important;
}

body{
  -webkit-font-smoothing: antialiased;
}

body, input, textarea, button {
  font-family: ‘Inter’, sans-serif; 
}

@media only screen and (max-width: 600px) {
  body{
    padding: 10px !important;
  }
}


